@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27272c;
    min-height: 100vh;
}
.container {
    padding: 20px 25px;
    background-color: #fff;
    box-shadow: 1px solid #fff;
    border-radius: 5px;
}
#wrapper {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 5px;
}
#wrapper input{
    width: 100%;
    background-color: transparent;
    color: #111111;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 10px 15px;
}
#wrapper input:focus{
    outline: none;
    border-color: #5a95ff;
}
#wrapper button{
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #5a95ff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
#tasks{
    margin-top: 16px;
}
.task{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 10px 16px;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    gap: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
.task:not(:first-child){
    margin-top: 20px;
}
.task input[type="checkbox"] {
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
}
.task input[type="checkbox"]:before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.task input[type="checkbox"]:checked{
    background-color: #5a95ff;
    border: #5a95ff;
}
.task input[type="checkbox"]:checked:before{
    position: absolute;
    content: "";
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 900;
}
.task button {
    color: #fff;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;

}
.edit{
    background-color: #5a95ff;
}
.delete{
    background-color: #ff5c5c;
}
#pending-tasks span {
    color: #5a95ff;
    font-weight: 600;
}
.completed {
    text-decoration: line-through;
    color: #a0a0a0;
}
#error{
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
    color: #ff5c5c;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}